In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit, min, max, mean
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

In [0]:
spark = SparkSession.builder.appName("StudentData").getOrCreate()

In [0]:
df = spark.read.options(inferSchema=True, header=True).csv("/FileStore/tables/StudentData.csv")
df.show(3)

+---+------+----------------+------+-----+-----+--------------------+
|age|gender|            name|course| roll|marks|               email|
+---+------+----------------+------+-----+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|
+---+------+----------------+------+-----+-----+--------------------+
only showing top 3 rows

### Create a new column in the DF for total marks and let the total marks be 120

In [0]:
df = df.withColumn("total marks", lit(120))
df.show(3)

+---+------+----------------+------+-----+-----+--------------------+-----------+
|age|gender|            name|course| roll|marks|               email|total marks|
+---+------+----------------+------+-----+-----+--------------------+-----------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|        120|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|        120|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|        120|
+---+------+----------------+------+-----+-----+--------------------+-----------+
only showing top 3 rows

### Create a new column average to calculate the average marks of the student

In [0]:
df = df.withColumn("average", (col("marks")/col("total marks"))*100 )
df.show(3)

+---+------+----------------+------+-----+-----+--------------------+-----------+------------------+
|age|gender|            name|course| roll|marks|               email|total marks|           average|
+---+------+----------------+------+-----+-----+--------------------+-----------+------------------+
| 28|Female| Hubert Oliveras|    DB| 2984|   59|Annika Hoffman_Na...|        120|49.166666666666664|
| 29|Female|Toshiko Hillyard| Cloud|12899|   62|Margene Moores_Ma...|        120| 51.66666666666667|
| 28|  Male|  Celeste Lollis|    PF|21267|   45|Jeannetta Golden_...|        120|              37.5|
+---+------+----------------+------+-----+-----+--------------------+-----------+------------------+
only showing top 3 rows

### Filter out all those students who have achieved more than 80% marks in OOP course and save it in a new DF

In [0]:
eighty_oop = df.where( ( col("course")=="OOP" ) & ( col("average") > 80 ) )
eighty_oop.show(3)

+---+------+------------------+------+-------+-----+--------------------+-----------+-----------------+
|age|gender|              name|course|   roll|marks|               email|total marks|          average|
+---+------+------------------+------+-------+-----+--------------------+-----------+-----------------+
| 28|  Male|    Jenna Montague|   OOP|3331161|   98|Leontine Phillips...|        120|81.66666666666667|
| 29|Female|Priscila Tavernier|   OOP|3902993|   99|Celeste Lollis_Bi...|        120|             82.5|
| 28|Female|      Judie Chipps|   OOP|5451977|   99|Tamera Blakley_Mi...|        120|             82.5|
+---+------+------------------+------+-------+-----+--------------------+-----------+-----------------+
only showing top 3 rows

### Filter out all those students who have achieved more than 60% marks in Cloud course and save it in a new DF

In [0]:
sixty_cloud = df.where( ( col("course")=="Cloud" ) & ( col("average") > 60 ) )
sixty_cloud.show(3)

+---+------+--------------+------+------+-----+--------------------+-----------+-----------------+
|age|gender|          name|course|  roll|marks|               email|total marks|          average|
+---+------+--------------+------+------+-----+--------------------+-----------+-----------------+
| 28|Female|  Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|        120|70.83333333333334|
| 29|  Male|   Billi Clore| Cloud|512047|   76|Taryn Brownlee_Ju...|        120|63.33333333333333|
| 28|Female|Somer Stoecker| Cloud|612490|   82|Sebrina Maresca_G...|        120|68.33333333333333|
+---+------+--------------+------+------+-----+--------------------+-----------+-----------------+
only showing top 3 rows

### Print the names and marks of all the students from the above DFs

In [0]:
eighty_oop.select("name","marks").show(5)

+------------------+-----+
|              name|marks|
+------------------+-----+
|    Jenna Montague|   98|
|Priscila Tavernier|   99|
|      Judie Chipps|   99|
|    Margene Moores|   97|
|      Jc Andrepont|   97|
+------------------+-----+
only showing top 5 rows

In [0]:
sixty_cloud.select("name","marks").show(5)

+--------------+-----+
|          name|marks|
+--------------+-----+
|  Claude Panos|   85|
|   Billi Clore|   76|
|Somer Stoecker|   82|
|  Judie Chipps|   75|
|  Eda Neathery|   91|
+--------------+-----+
only showing top 5 rows

### Write a code to display all the unique rows for age, gender and course column

In [0]:
df = spark.read.options(inferSchema=True, header=True).csv("/FileStore/tables/StudentData.csv")

In [0]:
df.select("age","gender","course").distinct().show(5)

+---+------+------+
|age|gender|course|
+---+------+------+
| 28|Female|    DB|
| 29|Female| Cloud|
| 29|Female|    DB|
| 28|  Male|    PF|
| 28|  Male|   DSA|
+---+------+------+
only showing top 5 rows

In [0]:
df.select("age","gender","course").distinct().count()

Out[12]: 24

In [0]:
df.dropDuplicates(["age","gender","course"]).show(5)

+---+------+---------------+------+------+-----+--------------------+
|age|gender|           name|course|  roll|marks|               email|
+---+------+---------------+------+------+-----+--------------------+
| 28|Female|   Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|Female|Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 28|Female|   Jc Andrepont|   DSA|232060|   58|Billi Clore_Abram...|
| 28|Female|   Cheri Kenney|   MVC|321816|   24|Kena Wild_Michell...|
| 28|Female| Alberta Freund|   OOP|251805|   83|Annika Hoffman_Sh...|
+---+------+---------------+------+------+-----+--------------------+
only showing top 5 rows

In [0]:
df.dropDuplicates(["age","gender","course"]).count()

Out[14]: 24

### Display the total number of students enrolled in each course

In [0]:
df.groupBy("course").count().show()

+------+-----+
|course|count|
+------+-----+
|    PF|  166|
|    DB|  157|
|   MVC|  157|
|   DSA|  176|
| Cloud|  192|
|   OOP|  152|
+------+-----+

### Display the total number of male and female students enrolled in each course

In [0]:
df.groupBy("course", "gender").count().sort("course",col("count").desc()).show()

+------+------+-----+
|course|gender|count|
+------+------+-----+
| Cloud|Female|  106|
| Cloud|  Male|   86|
|    DB|  Male|   82|
|    DB|Female|   75|
|   DSA|Female|   98|
|   DSA|  Male|   78|
|   MVC|  Male|   86|
|   MVC|Female|   71|
|   OOP|Female|   82|
|   OOP|  Male|   70|
|    PF|  Male|   97|
|    PF|Female|   69|
+------+------+-----+

### Display the total marks achieved by each gender in each course

In [0]:
df.groupBy("course","gender").sum("marks").sort("course").show()

+------+------+----------+
|course|gender|sum(marks)|
+------+------+----------+
| Cloud|  Male|      5127|
| Cloud|Female|      6316|
|    DB|  Male|      5073|
|    DB|Female|      4197|
|   DSA|Female|      6124|
|   DSA|  Male|      4826|
|   MVC|Female|      4344|
|   MVC|  Male|      5241|
|   OOP|  Male|      4234|
|   OOP|Female|      4682|
|    PF|  Male|      5960|
|    PF|Female|      3973|
+------+------+----------+

### Display the minimum, maximum, average marks achieved in each course by each age group

In [0]:
df.groupBy("course","age").agg(min("marks"),max("marks"),mean("marks")).sort("course","age").show()

+------+---+----------+----------+------------------+
|course|age|min(marks)|max(marks)|        avg(marks)|
+------+---+----------+----------+------------------+
| Cloud| 28|        20|        99|             58.08|
| Cloud| 29|        21|        98|             61.25|
|    DB| 28|        21|        98| 58.76829268292683|
|    DB| 29|        20|        98|59.346666666666664|
|   DSA| 28|        20|        99|  64.6867469879518|
|   DSA| 29|        20|        99| 60.01075268817204|
|   MVC| 28|        23|        99| 60.44444444444444|
|   MVC| 29|        22|        99| 61.56470588235294|
|   OOP| 28|        23|        99| 57.64102564102564|
|   OOP| 29|        20|        99|59.729729729729726|
|    PF| 28|        20|        98| 63.75949367088607|
|    PF| 29|        20|        99|56.275862068965516|
+------+---+----------+----------+------------------+